<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PinkDisplayRegular.ttf</string>
		<string>PinkDisplay.otf</string>
		<string>Pinkish.otf</string>
		<string>PinkishRegular.ttf</string>
		<string>pricedown.otf</string>
	</array>
</dict>
</plist>
